header,
footer {
    padding: 20px 0;
}

.container {
    max-width: 100%;
    width: 1240px;
    margin: 0 auto;
}


.text-img-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
    /* margin-top: 50px; */
}

.text-img-wrap section {
    width: 45%;
    display: flex;
    align-items: center;
}

.text-img-wrap section img {
    height: 225px;
    width: 225px;
}

.img-wrap {

    display: flex;
    justify-content: space-between;
}

.img-wrap section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.img-wrap section img {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

nav ul li {
    list-style-type: none;
}

header .header_main_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 90px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-style: initial;
}

.text-img-wrap section img {
    width: 100%;
    max-width: 100%;
    height: 500px;
}

.largeimg-wrap img {
    max-width: 100%;
    width: 100%;

    height: 700px;
}

.img-wrap section p {
    font-size: 22px;
}

.foooter_wrap {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
}

footer ul {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}

.text-img-wrapper,
.img-wrapper,
.largeimg-wrapper,
footer {
    padding: 40px 0;
}