.text-img-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
    margin-top: 50px;
}
.text-img-wrap section {
    width: 45%;
    display: flex;
    align-items: center;
}
.text-img-wrap section img{
  height: 225px;
  width: 225px;
}

.img-wrap {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.img-wrap section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.img-wrap section img {
    width: 100%;
    max-width: 100%;
    height: 500px;
}
nav ul li {
    list-style-type: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 90px;
}
body {
    width: 1500px;
    margin: 0 auto;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-style: initial;
}
header {
    margin-top: 20px; background-color: beig;
}

.text-img-wrap section img {
    width: 100%;
    max-width: 100%;
    height: 500px;
}
.largeimg-wrap img {
    max-width: 100%;
    width: 100%;
    margin-top: 50px;
    height: 700px;
}
.img-wrap section p {
    font-size: 22px;
}

footer {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: black;
    display: flex;
}
footer ul {
    display: flex;
    gap: 50px;
}
li {
    list-style: none;
}